.choose-view{
    font-family: 'Roboto', sans-serif;
}

.choose-view .w3-container{
    width: 30%;
    margin-left: 35%;
    padding-top: 10%;
}

.choose-view .w3-container .w3-card .btn{ 
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--blue-light-color) !important;
}

.choose-view .w3-container .w3-card .btn:hover{
    color: var(--white-color) !important;
    font-family: 'Roboto black', sans-serif !important;
    background-color: var(--blue-dark-color) !important;
}

.choose-view .w3-card{
    padding-top: 10px;
    background-color: white;
    border-radius: 8px;
}


