@import url('https://www.w3schools.com/w3css/4/w3.css');

/* Font Roboto */
@import url('https://fonts.cdnfonts.com/css/roboto');

/* Icons */
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root {
  --blue-color: #324BD9;
  --blue-light-color: #4E63D9;
  --blue-dark-color: #212940;
  --gray-color: #5C6273;
  --gray-light-color: #f5f5f5;
  --white-color: #F2F2F2;
  --red-color:#F71010;
  --green-color: #25B865;
  --font: 'Roboto', sans-serif;
  --yellow-color: #F9A825;
  font-size: 7.5pt;
}
*,
::before,
::after {
    box-sizing: border-box
}

body {
  margin: 0;
  background-color: var(--gray-light-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font)!important;
}
